<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Data</title>
</head>

<body>

    <fieldset>
        <legend>Add Product</legend>
        <table>
            <form action="../Controller/InsertProduct.php" method="post">
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Buying Price
                    </td>
                    <td>
                        <input type="text" name="buying_price">
                    </td>
                </tr>
                <tr>
                    <td>
                        Selling Price
                    </td>
                    <td>
                        <input type="text" name="selling_price">
                    </td>
                    <hr>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="radio" value="yes"> Display
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="submit" value="Submit">
                    </td>
                    <td></td>
                </tr>

            </form>

        </table>
    </fieldset>

</body>

</html>